@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

:root {
    /* primary color */
    --color-primary-50: #edfaff;
    --color-primary-100: #d6f2ff;
    --color-primary-200: #b5eaff;
    --color-primary-300: #83dfff;
    --color-primary-400: #48cbff;
    --color-primary-500: #1eadff;
    --color-primary-600: #068fff;
    --color-primary-700: #007bff;
    --color-primary-800: #085ec5;
    --color-primary-900: #0d519b;
    --color-primary-950: #0e315d;

    /* secondary color */
    --color-secondary-50: #f5f6f6;
    --color-secondary-100: #e5e7e8;
    --color-secondary-200: #cdd1d4;
    --color-secondary-300: #aab0b6;
    --color-secondary-400: #808990;
    --color-secondary-500: #6c757d;
    --color-secondary-600: #565c64;
    --color-secondary-700: #4a4f54;
    --color-secondary-800: #414449;
    --color-secondary-900: #3a3c3f;
    --color-secondary-950: #242628;

    /* foreground color */
    --color-foreground-50: #ffffff;
    --color-foreground-100: #efefef;
    --color-foreground-200: #dcdcdc;
    --color-foreground-300: #bdbdbd;
    --color-foreground-400: #989898;
    --color-foreground-500: #7c7c7c;
    --color-foreground-600: #656565;
    --color-foreground-700: #525252;
    --color-foreground-800: #464646;
    --color-foreground-900: #3d3d3d;
    --color-foreground-950: #292929;

    /* background color */
    --color-background-50: #f6f6f6;
    --color-background-100: #e7e7e7;
    --color-background-200: #d1d1d1;
    --color-background-300: #b0b0b0;
    --color-background-400: #888888;
    --color-background-500: #6d6d6d;
    --color-background-600: #5d5d5d;
    --color-background-700: #4f4f4f;
    --color-background-800: #454545;
    --color-background-900: #333333;
    --color-background-950: #262626;

    /* success color */
    --color-success-50: #f1fcf2;
    --color-success-100: #dff9e4;
    --color-success-200: #c1f1cb;
    --color-success-300: #90e5a3;
    --color-success-400: #58d073;
    --color-success-500: #32b550;
    --color-success-600: #28a745;
    --color-success-700: #1f7634;
    --color-success-800: #1e5d2d;
    --color-success-900: #1a4d27;
    --color-success-950: #092a12;

    /* warning color */
    --color-warning-50: #ffffea;
    --color-warning-100: #fffbc5;
    --color-warning-200: #fff885;
    --color-warning-300: #ffee46;
    --color-warning-400: #ffdf1b;
    --color-warning-500: #ffc107;
    --color-warning-600: #e29400;
    --color-warning-700: #bb6902;
    --color-warning-800: #985108;
    --color-warning-900: #7c420b;
    --color-warning-950: #482200;

    /* danger color */
    --color-warning-50: #fef2f2;
    --color-warning-100: #fee6e5;
    --color-warning-200: #fccfcf;
    --color-warning-300: #f9a8a8;
    --color-warning-400: #f57779;
    --color-warning-500: #ec474f;
    --color-warning-600: #dc3545;
    --color-warning-700: #b7192c;
    --color-warning-800: #99182c;
    --color-warning-900: #83182c;
    --color-warning-950: #490812;
}
